#include "keys_br_abnt2.h"
#include "helper.h"
#include "accents.dtsi"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NUME 1
#define SYMB 2
#define FUNC 3
#define GAME 4
#define NAVI 5
#define FGAM 6
#define ACCE 7

AC_KEY(A_acute, BR_A, BR_ACUT)
AC_KEY(A_grave, BR_A, BR_GRAVE)
AC_KEY(A_tilde, BR_A, BR_TILDE)
AC_KEY(A_circ,  BR_A, BR_CIRC)

AC_KEY(E_acute, BR_E, BR_ACUT)
AC_KEY(E_circ,  BR_E, BR_CIRC)

AC_KEY(I_acute, BR_I, BR_ACUT)

AC_KEY(O_acute, BR_O, BR_ACUT)
AC_KEY(O_tilde, BR_O, BR_TILDE)
AC_KEY(O_circ,  BR_O, BR_CIRC)

AC_KEY(U_acute, BR_U, BR_ACUT)

UNDEAD_KEY(tilde, BR_TILDE)
UNDEAD_KEY(caret, BR_CIRC)
UNDEAD_KEY(grave, BR_GRAVE)

// Behavior configuration

&mt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};

&sk {
    release-after-ms = <500>;
    quick-release;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 38 39 40 41 37 36>;
            require-prior-idle-ms = <150>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
        };

        lrt: lrt {
            compatible = "zmk,behavior-hold-tap";
            label = "LRT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };

        mouse_behavior: mouse_behavior {
            compatible = "zmk,behavior-mouse-key-press";
            label = "MOUSE_BEHAVIOR";
            #binding-cells = <1>;
        };

        sticky: sticky {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY";
            bindings = <&none>;
            #binding-cells = <1>;
            release-after-ms = <0>;
        };

        toggle_behavior: toggle_behavior {
            compatible = "zmk,behavior-toggle-layer";
            label = "TOGGLE_BEHAVIOR";
            #binding-cells = <1>;
        };

        togkey_behavior: togkey_behavior {
            compatible = "zmk,behavior-key-toggle";
            label = "TOGKEY_BEHAVIOR";
            #binding-cells = <1>;
        };

        encoder_behavior: encoder_behavior {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ENCODER_BEHAVIOR";
            #sensor-binding-cells = <2>;
            bindings = <&none>, <&none>;
        };

        tap_behavior: tap_behavior {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_BEHAVIOR";
            #binding-cells = <0>;
            bindings = <&none>;
        };

        encoder1_behavior: encoder1_behavior {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER1_BEHAVIOR";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOLUME_UP>, <&kp C_VOL_DN>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // combo_esc {
        //timeout-ms = <50>;
        //key-positions = <13 16>;
        //  bindings = <&caps_word>;
        //  };

        game {
            timeout-ms = <50>;
            bindings = <&tog 4>;
            key-positions = <16 15>;
            layers = <0>;
        };

        close {
            timeout-ms = <50>;
            bindings = <&close>;
            key-positions = <1 2 3 4>;
            layers = <0>;
        };

        prtsc_combo {
            timeout-ms = <50>;
            bindings = <&kp PRINTSCREEN>;
            key-positions = <6 5>;
            layers = <0>;
        };

        caps {
            timeout-ms = <50>;
            bindings = <&caps_word>;
            key-positions = <25 26 27 28>;
            layers = <0>;
        };

        esc {
            timeout-ms = <50>;
            bindings = <&kp ESC>;
            key-positions = <1 0>;
            layers = <0>;
        };

        quest {
            bindings = <&kp BR_QMARK>;
            key-positions = <33 32 31>;
            layers = <0>;
        };

        lock {
            bindings = <&lock>;
            key-positions = <7 8 9>;
            layers = <5>;
        };

        copy {
            bindings = <&copy>;
            key-positions = <26 27>;
            layers = <6>;
        };

        paste {
            bindings = <&paste>;
            key-positions = <27 28>;
            layers = <0>;
        };

        n1 {
            bindings = <&kp NUMBER_1>;
            key-positions = <1 13>;
            layers = <0>;
        };

        n2 {
            bindings = <&kp NUMBER_2>;
            key-positions = <2 14>;
            layers = <0>;
        };

        n3 {
            bindings = <&kp NUMBER_3>;
            key-positions = <3 15>;
            layers = <0>;
        };

        n4 {
            bindings = <&kp NUMBER_4>;
            key-positions = <4 16>;
            layers = <0>;
        };

        n5 {
            bindings = <&kp NUMBER_5>;
            key-positions = <5 17>;
            layers = <0>;
        };

        n6 {
            bindings = <&kp NUMBER_6>;
            key-positions = <6 18>;
            layers = <0>;
        };

        n7 {
            bindings = <&kp NUMBER_7>;
            key-positions = <7 19>;
            layers = <0>;
        };

        n8 {
            bindings = <&kp NUMBER_8>;
            key-positions = <20 8>;
            layers = <0>;
        };

        n9 {
            bindings = <&kp NUMBER_9>;
            key-positions = <9 21>;
            layers = <0>;
        };

        n0 {
            bindings = <&kp NUMBER_0>;
            key-positions = <10 22>;
            layers = <0>;
        };

        tec {
            bindings = <&tog 7>;
            key-positions = <10 22>;
            layers = <0>;
        };

        circ {
            bindings = <&kp BR_CIRC>;
            key-positions = <7 6>;
            layers = <0>;
        };

        agud {
            bindings = <&kp BR_ACUT>;
            key-positions = <18 19>;
            layers = <0>;
        };

        til {
            bindings = <&kp BR_TILDE>;
            key-positions = <31 30>;
            layers = <0>;
        };

        grave {
            bindings = <&kp BR_GRAVE>;
            key-positions = <32 31 30>;
            layers = <0>;
        };

        gml {
            bindings = <&tog 5>;
            key-positions = <15 16 37>;
            layers = <0>;
        };
    };

    macros {
        close: close {
            compatible = "zmk,behavior-macro";
            label = "new_macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp F4>,
                <&macro_release>,
                <&kp LALT>;
        };

        cao: cao {
            compatible = "zmk,behavior-macro";
            label = "CAO";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp BR_CCED>,
                <&macro_tap_time 20>,
                <&A_tilde>;
        };

        guilt: guilt {
            compatible = "zmk,behavior-macro";
            label = "GUILT";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };

        guirt: guirt {
            compatible = "zmk,behavior-macro";
            label = "GUIRT";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LEFT_WIN>;
        };

        lock: lock {
            compatible = "zmk,behavior-macro";
            label = "LOCK";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp L>,
                <&macro_release>,
                <&kp LEFT_GUI>;
        };

        gui_up: gui_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp UP_ARROW>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "GUI_UP";
        };

        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_CONTROL>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LEFT_CONTROL>;

            label = "PASTE";
        };

        tab: tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LALT>;

            label = "TAB";
        };

        new_tab: new_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp ESCAPE>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "NEW_TAB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&kp TAB    &kp Q  &kp W       &kp E           &kp R         &kp T        &kp Y    &kp U         &kp I            &kp O       &kp P         &kp C_VOLUME_UP
&kp LSHFT  &kp A  &hm LALT S  &hm LSHFT D     &hm LCTRL F   &kp G        &kp H    &hm RCTRL J   &hm RSHFT K      &hm RALT L  &kp BR_SEMI   &kp C_VOLUME_DOWN
&kp LCTRL  &kp Z  &kp X       &kp C           &kp V         &kp B        &kp N    &kp M         &kp COMMA        &kp DOT     &kp BR_SLASH  &kp RC(C_MUTE)
                              &lt 3 CAPSLOCK  &lt 1 ESCAPE  &kp SPACE    &kp RET  &lt 2 DELETE  &lt 6 BACKSPACE
            >;
        };

        number_layer {
            bindings = <
&trans            &kp BR_EXCL   &kp BR_AT    &kp BR_HASH   &kp BR_DLLR  &kp BR_PRCNT    &kp PLUS      &kp N7     &kp N8  &kp N9  &kp BR_BSLH   &trans
&trans            &kp BR_GRAVE  &kp BR_AMPS  &kp BR_ASTRK  &kp BR_LPAR  &kp BR_RPAR     &kp MINUS     &kp N4     &kp N5  &kp N6  &kp COMMA     &kp LEFT_BRACE
&kp LEFT_BRACKET  &kp BR_UNDER  &kp BR_LBRC  &kp BR_RBRC   &kp BR_LT    &kp BR_GT       &kp BR_COLON  &kp N1     &kp N2  &kp N3  &kp BR_EQUAL  &kp RIGHT_BRACE
                                             &none         &none        &none           &kp BR_ASTRK  &kp BR_N0  &tog 1
            >;
        };

        symbol_layer {
            bindings = <
&trans        &kp BR_ASTRK  &kp BR_AMPS  &kp BR_LBRC  &kp BR_RBRC  &kp BR_HASH    &kp BR_CIRC   &U_acute  &A_tilde  &O_tilde  &kp BR_CCED  &trans
&trans        &kp BR_COLON  &kp BR_AT    &kp BR_LPAR  &kp BR_RPAR  &kp BR_DQT     &kp BR_ACUT   &I_acute  &A_acute  &O_acute  &E_acute     &kp F10
&kp LEFT_ALT  &kp BR_EXCL   &kp PERCENT  &kp BR_LBKT  &kp BR_RBKT  &kp BR_PIPE    &kp BR_TILDE  &E_circ   &A_circ   &O_circ   &A_grave     &kp F20
                                         &none        &tog 2       &cao           &none         &trans    &none
            >;
        };

        accent_layer {
            bindings = <
&trans  &none      &none    &kp HASH  &kp CARET  &none        &kp CARET  &U_acute  &A_tilde  &O_tilde  &kp BR_CCED  &trans
&trans  &kp GRAVE  &kp DQT  &kp SQT   &kp EXCL   &kp TILDE    &kp GRAVE  &I_acute  &A_acute  &O_acute  &E_acute     &trans
&trans  &none      &none    &ac_ccdi  &none      &none        &A_grave   &E_circ   &A_circ   &O_circ   &kp TILDE    &tog 3
                            &trans    &trans     &trans       &kp ENTER  &kp BSPC  &kp DEL
            >;
        };

        function_layer {
            bindings = <
&trans      &bt BT_CLR_ALL  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &out OUT_TOG    &kp K_SCROLL_UP    &kp F1  &kp F2   &kp F3   &kp F4   &trans
&trans      &bt BT_CLR      &trans        &trans        &trans        &trans          &kp K_SCROLL_DOWN  &kp F5  &kp F6   &kp F7   &kp F8   &trans
&sys_reset  &bootloader     &trans        &trans        &trans        &trans          &trans             &kp F9  &kp F10  &kp F11  &kp F12  &trans
                                          &trans        &trans        &trans          &trans             &trans  &tog 4
            >;
        };

        game_layer {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E           &kp R      &kp T           &kp C_VOLUME_UP    &trans         &trans          &trans  &trans        &kp BACKSPACE
&kp LEFT_SHIFT  &kp A  &kp S  &kp D           &kp F      &kp G           &kp C_VOLUME_DOWN  &trans         &kp LEFT_SHIFT  &trans  &trans        &to 0
&kp LCTRL       &kp Z  &kp X  &kp C           &kp V      &kp B           &kp RG(C_MUTE)     &trans         &trans          &trans  &kp LEFT_GUI  &tog 5
                              &mt LEFT_ALT M  &kp SPACE  &lt 7 ESCAPE    &trans             &kp RIGHT_WIN  &trans
            >;
        };

        nav_layer {
            bindings = <
&tab    &bt BT_CLR      &bt BT_SEL 0     &bt BT_SEL 1  &out OUT_TOG      &kp PG_UP    &kp C_VOLUME_UP    &trans             &kp UP_ARROW  &trans         &trans         &caps_word
&trans  &bt BT_CLR_ALL  &kp PRINTSCREEN  &kp HOME      &kp END           &kp PG_DN    &kp C_VOLUME_DOWN  &kp LEFT_ARROW     &kp DOWN      &kp RIGHT      &kp LGUI       &trans
&tog 6  &sk LEFT_GUI    &sk LALT         &sk LSHFT     &sk LEFT_CONTROL  &new_tab     &kp K_MUTE         &sk RIGHT_CONTROL  &sk RSHFT     &sk RIGHT_ALT  &sk RIGHT_WIN  &trans
                                         &trans        &lt 4 END         &kp LALT     &trans             &trans             &trans
            >;
        };

        fgame_layer {
            bindings = <
&trans  &kp H   &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans        &kp NUMBER_4  &kp N5          &trans  &trans  &trans  &trans  &trans  &trans
&tog 4  &none   &to 0   &none         &kp O         &kp M           &trans  &trans  &trans  &trans  &trans  &to 0
                        &kp J         &kp I         &kp M           &trans  &trans  &trans
            >;
        };

        layer_8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
